<div class="recipe-detail print-modal">
  <h1>{{data.title}}</h1>
  <div>
    <h4>Ingredients<span>(x{{data.multi}})</span></h4>
    <ul>
      <li *ngFor="let ingredient of data.ingredients">{{ingredient.quantity | fractionize }}
        - {{ingredient.measurement}} {{ingredient.name}}</li>
    </ul>
    <div class="quantity-form container">
      <div class="row qty-change">
        <!-- <select class="form-control form-control-sm col-sm-6" #quantityChange>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select> -->
      </div>
    </div>
  </div>
  <div>
    <hr>
    <app-instructions-list [recipe]="data"></app-instructions-list>
    <div>
      <h6>Notes To The Chef?</h6>
      <p>Any special things of consideration could be listed here</p>
    </div>
  </div>
  <button class="btn print-btn" (click)="onPrint()">Print Recipe</button>
</div>
