.jumbotron {
  height: 220px;
  background-image: url("../../assets/img/image.jpg");
  color: white;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  justify-content: center !important;
}

#header {
  max-width: 1250px;
  height: 220px;
}

p {
  font-size: 1rem;
}

.custom-nav {
  padding: 0;
  margin-left: 0;
  height: 50px;
}







