.jumbotron {
  height: 220px;
  background-image: url("../../assets/img/image.jpg");
  color: white;
  padding-top: 50px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  justify-content: center !important;
}

#header {
  max-width: 1000px;
}

p {
  font-size: 1rem;
}

.custom-nav {
  max-width: 1000px;
  justify-self: center;
}






