<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Freezer Meal Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-expand navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">All Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <ngbd-dropdown-basic></ngbd-dropdown-basic>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopping List</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">Search</button>
    </form>
  </div>
</nav> -->

<div class="jumbotron jumbotron-fluid">

  <div class="container" id="header">
    <app-navbar class="custom-nav"></app-navbar>
    <h1 class="display-4">Grafted Community Church</h1>
    <h3>Freezer Cooking Tool</h3>
    <p class="lead">"But food does not bring us near to God; we are no worse if we do not eat, and no better if we do"<span><strong>- 1 Corinthians 8:8</strong></span></p>
    <p></p>
  </div>
</div>
