<div class="container-fluid">
  <div class="row">
    <div class="header">
      <h4>Select An Ingredient To Edit</h4>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col edit-form">
      <app-ingredient-edit-form></app-ingredient-edit-form>
    </div>
  </div>
  <hr>
  <div class="row ingredient-list">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Chicken">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let ingredient" (click)="onEditIngredient(ingredient)"> {{ingredient.name}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let ingredient"> {{ingredient.department}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="top-row"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
