table {
  width: 100%;
}

Table, th, td {
  border: 1px solid gray;
}

th, td {
  height: 40px;
  padding-left: 5px;
}

tr:nth-child(odd) {
  background: rgba(235, 232, 217, .3);
}

hr {
  margin: 5px 0 5px 0;
}

.ingredient-list {
  height: 450px;
  overflow: scroll;
}

.top-row {
  background: darkgray !important;
  font-size: 1.2rem;
}

.table-contents {
}

.ingredient-list::-webkit-scrollbar {
  width: 3px;
}

.ingredient-list::-webkit-scrollbar-track {
  background-color: white;
}

.ingredient-list::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
}

.edit-form {
  height: 60px;
}

mat-header-row {
  position: sticky;
}
