<div class="container container-fluid">
  <div class="row">
    <div class="header">
      <h2>Select An Ingredient To Edit</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <app-ingredient-edit-form></app-ingredient-edit-form>
    </div>
  </div>
  <hr>
  <div class="row ingredient-list">
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="name">Name (click to edit)</th>
        <th mat-sort-header="department">Department</th>
        <th mat-sort-header="measurement">Measurement</th>
      </tr>
      <tr *ngFor="let ingredient of sortedData" >
        <td (click)="onEditIngredient(ingredient)" class="name-item">{{ingredient.name}}</td>
        <td>{{ingredient.department}}</td>
        <td>{{ingredient.measurement}}</td>
      </tr>
    </table>
  </div>
</div>
