.navbar-brand {
  font-weight: bold;
}

.navbar {
  background-color: #5bc0de !important;
}

.btn {
  border-color: black;
}

.jumbotron {
  height: 250px;
  background-image: url("../../assets/img/cooking-header.jpg");
  color: white;
}

#header {
  height: 50px;
}

h1, h3, p {

}





