<div class="row">
  <div class="card col-sm-3  recipe-card" *ngFor="let recipe of recipes">
    <div>
      <h1>{{recipe.title }}</h1>
      <!-- <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient.quantity}} - {{ingredient.measurement}} {{ingredient.name}}</li>
      </ul>
      <h5>Instructions</h5>
      <p class="card-text">{{recipe.instructions}}</p>
      <app-instructions-list class="card-text" [recipe]="recipe"></app-instructions-list> -->
      <button type="button" class="btn btn-outline-dark">
        Edit Recipe
      </button>
      <recipe-detail-modal [recipe]="recipe"></recipe-detail-modal>
    </div>
  </div>
</div>


