<mat-toolbar>
  <div class="container pl-0 ml-0">
    <div class="navigation float-left ml-0 pl-0">
      <div class="row">
        <img src="../../../assets/img/grafted-logo_3.png" alt="grafted-logo">
        <div>
          <button class="btn"><a routerLink="/recipes">View Recipes</a></button>
        </div>
        <div class="menu" *ngIf="loggedIn">
          <button class="menubutton" mat-button [matMenuTriggerFor]="manageMenu">Manage</button>
          <mat-menu #manageMenu='matMenu'>
            <button mat-menu-item><a class="nav-link" routerLink="/recipe-edit">Manage Recipes</a></button>
            <button mat-menu-item><a class="nav-link" routerLink="/ingredient-edit">Manage Ingredients</a></button>
          </mat-menu>
        </div>
        <div>
          <button class="btn"><a routerLink="/shopping-cart">Shopping Cart</a></button>
        </div>
      </div>
    </div>
    <div class="menu float-sm-right" *ngIf="loggedIn">
      <button class="menubutton" mat-button [matMenuTriggerFor]="profileMenu">Profile</button>
      <mat-menu #profileMenu='matMenu'>
        <button mat-menu-item><a class="nav-link" routerLink="/profile">View Profile</a></button>
        <button mat-menu-item (click)="signOut()">Sign Out</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
