img {
  height: 25px;
  width: 75px;
}

a {
  color: white;
  text-decoration: none;
}

#navbar {
  padding-left: 0px;
}

.menu {
  color: white;
}

.nav-link {
 color: black;
}

mat-toolbar {
  background: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
}

.btn {
  background: none;
  text-decoration: none;
  color: white;
}

.mat-menu-item {
}






