img {
  height: 25px;
  width: 75px;
}

a {
  color: white;
  text-decoration: none;
}

#navbar {
  padding-left: 0px;
  margin-top: 10px;
}

.menu {
  color: white;
}

.nav-link {
 color: black;
}

.mat-menu-item {
  height: 50%;
  outline: none;
  font-size: 15px;
}

mat-toolbar {
  background: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  font-family: Roboto;
}

.btn {
  background: none;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  bottom: 0;
}

.mat-button {
  font-family: Roboto;
  font-size: 1.5rem;
}








