<div class="custom-nav">
  <nav class="navbar navbar-expand-sm navbar-default fixed-top position-absolute" id="navbar">
    <img src="../../../assets/img/grafted-logo_3.png" alt="grafted-logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Recipes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/recipe-edit">Edit Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
