<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Ingredient Name</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option value="tsp">Tsp</mat-option>
      <mat-option value="tbsp">Tbsp</mat-option>
      <mat-option value="oz">Oz</mat-option>
      <mat-option value="cups">Cups</mat-option>
      <mat-option value="pounds">Pounds</mat-option>
      <mat-option value="eaches">Eaches</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
