<div class="container-fluid shopping-list">
  <div class="row">
    <div class="col">
      <h2>Shopping List</h2>
    </div>
    <div class="col d-flex justify-content-end">
      <button class="btn warning shopping-opt-btn" (click)="onClearShoppingList()">Delete Shopping List</button>
      <button class="btn confirmation shopping-opt-btn" (click)="onSaveShoppingList($event)">Complete Shopping List</button>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h5>Recipes on list:</h5>
        <ul>
          <li *ngFor="let recipe of shoppingList">
            {{recipe.title}} (x
            <span *ngIf="!recipe.multi; else multi">1)</span>
            <ng-template #multi>{{recipe.multi}})</ng-template>
          </li>
        </ul>
        <h4>Ingredient List:</h4>
        <div class="container-fluid">
          <div class="row ingredient-row d-flex" *ngFor="let ingredient of finalIngredientsArray, let i=index">
            <div class="col-5 ing-details">
              <strong>
                {{ingredient.name}} -
              </strong>
              <ng-container *ngFor="let measurement of ingredient.measurements">
                  {{measurement.quantity}} {{measurement.unit | unitDisplay}}
              </ng-container>
            </div>
            <div class="col d-flex justify-content-end shopping-dist-opts">
              <div class="row">
                <div class="shopping-opt" (click)="onDistribute(ingredient, 'costco', i)">Costco</div>
                <div class="shopping-opt" (click)="onDistribute(ingredient, 'grocery', i)">Grocery</div>
                <div class="shopping-opt" (click)="onDistribute(ingredient, 'have', i)">Have</div>
                <div class="shopping-opt" (click)="onDistribute(ingredient, 'stockpile', i)">Stockpile</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-shopping-distribution></app-shopping-distribution>
    </div>
  </div>
</div>

