<div class="container shopping-list">
  <h2>You are making the following recipes:</h2>
  <ul>
    <li *ngFor="let recipe of shoppingList">
      {{recipe.title}} (x
      <span *ngIf="recipe.multi === 1; else multi">1)</span>
      <ng-template #multi>{{recipe.multi}})</ng-template>
    </li>
  </ul>
  <h4>Shopping List:</h4>
  <div *ngFor="let ingredient of finalIngredientsArray ">
    {{ingredient.name}} - {{ingredient.quantity}} {{ingredient.measurement}}
  </div>
  <button type="button" class="btn btn-info" (click)="onPrint()">Print Shopping List</button>
</div>

