.recipe-detail {
  max-height: 900px;
  width: 900px;
  overflow: scroll;
  overflow-x: hidden;
}

form {
  width: 150px;
  height: 30px;
}

.mat-form-field {
  width: 150px;
}

.mat-form-field-wrapper {
  width: 150px;
}

.input-button {
  width: 80px;
  height: 60px;
  margin-top: 5px;
}

button {
  margin: 0 0 5px 5px;
}

hr {
  margin: 5px 0 5px 0;
}

.recipe-detail::-webkit-scrollbar {
  width: 6px;
}

.recipe-detail::-webkit-scrollbar-track {
  background-color: white;
  margin: 0 5px 0 5px;
}

.recipe-detail::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 1px solid black;
}

p {
  margin: 0;
  padding: 0;
}

img {
  height: 25px;
  width: 25px;
  margin-bottom: 10px;
}

.accommodations-div {
  margin-bottom: 10px;
}

.details-section {
  margin-left: 20px;
}

