<div class="recipe-detail">
  <h1>{{recipeCopy.title}}<span *ngIf="multiBatchMode"> (x{{this.batchMultiDisplay}})</span></h1>
  <div>
    <div class="details-section">
      <p><strong>Protein Base:</strong> {{recipeCopy.proteinBase}} //
        <strong>Method:</strong> {{recipeCopy.cookingMethod}} //
        <strong>${{(recipeCopy.cost)}}</strong> //
        <strong>Recipe Source:</strong> {{recipeCopy.credit}}</p>
      <div class="row accommodations-div" *ngIf="recipeCopy.accommodations">
        <div *ngFor="let accommodations of recipeCopy.accommodations">
        <div class="col">
          <p><strong>Accommodations: </strong>{{accommodations.type}}</p>
        </div>
      </div>
      </div>
    </div>
    <h4>Ingredients</h4>
    <ul>
        <li *ngFor="let ingredient of recipeCopy.ingredients ">{{ multiBatchMode ? ingredient.quantity :(ingredient.quantity | fractionize) }}
          - {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
    </ul>
    <div class="quantity-form container">
      <div class="row qty-change">
        <!-- <select class="form-control form-control-sm col-sm-6" #quantityChange>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select> -->
        <input type="text" class="form-control col-sm" placeholder="# Of Batches" #quantityChange>
        <button class="btn btn-info col-sm input-button" (click)="updateQuantity()" (click)="quantityChange.value=''">Update</button>
        <button class="btn btn-danger col-sm input-button" (click)="resetBatch()">Reset</button>
      </div>
    </div>
  </div>
  <div>
    <hr>
    <app-instructions-list [recipe]="recipe"></app-instructions-list>
    <div>
      <h6>Notes To The Chef</h6>
      <p>{{recipeCopy.chefNotes}}</p>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-dark" (click)="addToShoppingList()">Add To Shopping List</button>
    <button type="button" class="btn btn-outline-dark" (click)="onPrint()">Print</button>
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</div>
