<div class="recipe-detail">
  <h1>{{recipeCopy.title}}<span *ngIf="multiBatchMode"> (x{{this.batchMultiDisplay}})</span></h1>
  <div>
    <div class="details-section">
      <p><strong>Protein Base:</strong> {{recipeCopy.proteinBase}} //
        <strong>Method:</strong> {{recipeCopy.cookingMethod}} //
        <strong>${{(recipeCopy.cost * recipeCopy.multi)}}</strong> //
        <strong>Recipe Source:</strong> {{recipeCopy.credit}}</p>
      <div class="row accommodations-div">
        <div *ngFor="let accommodations of recipeCopy.accommodations">
        <div class="col" *ngIf="accommodations.type">
          <p><strong>Accommodations: </strong>{{accommodations.type}}</p>
        </div>
      </div>
      </div>
    </div>
    <h4>Ingredients</h4>
    <ul>
        <li *ngFor="let ingredient of recipeCopy.ingredients ">{{ multiBatchMode ? ingredient.quantity :(ingredient.quantity | fractionize) }}
          {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
    </ul>
    <div class="quantity-form container">
      <div class="row qty-change">
        <!--<input type="text" class="form-control col-sm" placeholder="# Of Batches" #quantityChange>-->
        <form [formGroup]="quantitySelect" class="form">
          <mat-form-field appearance="outline">
            <mat-label>Batches</mat-label>
            <mat-select formControlName="quantity" [value]="1">
              <mat-option value="1" >1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
              <mat-option value="12345">Feelin' Crazy</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <button class="btn btn-info input-button" (click)="updateQuantity()">Update</button>
        <button class="btn btn-danger input-button" (click)="resetBatch()">Reset</button>
      </div>
    </div>
  </div>
  <div>
    <hr>
    <app-instructions-list [recipe]="recipe"></app-instructions-list>
    <div>
      <h6>Notes To The Chef</h6>
      <p>{{recipeCopy.chefNotes}}</p>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-outline-dark" (click)="addToShoppingList()">Add To Shopping List</button>
    <button type="button" class="btn btn-outline-dark" (click)="onPrint()">Print</button>
    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
  </div>
</div>
