.list-group-item {
  color: black;
  margin: 5px 0 5px 0;
}

div:hover {
  text-decoration: none;
  background-color: #8ebf77;
  color: white;
  transition: 0.3s;
}


div {
  justify-content: center;
}



