<div class="container-fluid">
  <div class="row">
    <div class="col header">
      <h2>Select A Recipe To Edit</h2>
    </div>
  </div>
  <div class="row content-row">
    <div class="col-3">
      <hr class="recipe-edit-hr">
      <div class="input-group edit-search">
        <div class="input-group-prepend">
          <div class="input-group-text" id="btnGroupAddon2">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          aria-label="Input group example"
          aria-describedby="btnGroupAddon2"
          [(ngModel)]="searchText">
      </div>
      <!-- removed the accommodations key from this component as it didn't seem necessary -->
      <!--<app-recipe-key class="edit-key"></app-recipe-key>-->
      <div class="recipe-edit-list">
        <div class="recipe-edit-list-item has-border" *ngFor="let recipe of recipes | async | filter: searchText, let i = index" (click)="onEditRecipe(recipe)">{{recipe.title}}</div>
      </div>
    </div>
    <div class="col-9 recipe-edit-form-col">
      <app-recipe-add-form></app-recipe-add-form>
    </div>
  </div>
</div>
