.distribution-container {
  width: 450px;
}

.shopping-source {
  border: 1px black !important;
  outline: black;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

button {
  margin: 0 0 5px 20px;
}

.caret-down {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
  border-top-color: black;
  margin-top: 4px;
  margin-left: 8px;
}

.caret-up {
  width: 0;
  height: 0;
  display: inline-block;
  border: 10px solid transparent;
  border-bottom-color: black;
  margin-bottom: 4px;
  margin-left: 8px;
}

.ingredient-counter {
  font-size: 30px;
}

h5 {
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
  margin-bottom: 2px;
}


i {
  font-size: 22px;
}




