<mat-tab-group>
  <!--<mat-tab label="Costco ({{costcoIngredients.length}})">
    <div class="container-fluid">
      <h5>Produce</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Produce'" >
            <i class="far fa-square"></i><strong (click)="onDistIngredientSelect(ingredient, i, 'costco')">{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <h5>Canned Goods</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Canned'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
        </ng-container>
      </ul>
      <h5>Dairy</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index" >
          <li *ngIf="ingredient.department === 'Dairy'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
        </ng-container>
      </ul>
      <h5>Meat</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Meat'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <h5>Frozen</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Frozen'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <h5>Dry Goods</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index" >
          <li *ngIf="ingredient.department === 'Dried'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <h5>Baked Goods</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Baked'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <h5>Miscellaneous</h5>
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li *ngIf="ingredient.department === 'Misc'" (click)="onDistIngredientSelect(ingredient, i, 'costco')">
            <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <button class="btn btn-info" (click)="costcoPrint()">Print Costco List</button>
    </div>
  </mat-tab>
  <mat-tab label="Grocery Store ({{groceryIngredients.length}})">
    <h5>Produce</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
        <li *ngIf="ingredient.department === 'Produce'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <h5>Canned Goods</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index" >
        <li *ngIf="ingredient.department === 'Canned'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
      </ng-container>
    </ul>
    <h5>Dairy</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index" >
        <li *ngIf="ingredient.department === 'Dairy'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}} {{ingredient.name}}</li>
      </ng-container>
    </ul>
    <h5>Meat</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
        <li *ngIf="ingredient.department === 'Meat'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <h5>Frozen</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
        <li *ngIf="ingredient.department === 'Frozen'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <h5>Dry Goods</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index" >
        <li *ngIf="ingredient.department === 'Dried'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <h5>Baked Goods</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
        <li *ngIf="ingredient.department === 'Baked'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <h5>Miscellaneous</h5>
    <ul>
      <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
        <li *ngIf="ingredient.department === 'Misc'" (click)="onDistIngredientSelect(ingredient, i, 'grocery')">
          <i class="far fa-square"></i><strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
      </ng-container>
    </ul>
    <button class="btn btn-info" (click)="groceryPrint()">Print Grocery List</button>
  </mat-tab>
  <mat-tab label="Already Have ({{haveIngredients.length}})">
    <ul>
      <li *ngFor="let ingredient of haveIngredients, let i = index" (click)="onDistIngredientSelect(ingredient, i, 'have')">
        <strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}
      </li>
    </ul>
    <button class="btn btn-info" (click)="havePrint()">Print Already Have List</button>
  </mat-tab>
  <mat-tab label="Stockpile ({{stockpileIngredients.length}})">
    <ul>
      <li *ngFor="let ingredient of stockpileIngredients, let i = index" (click)="onDistIngredientSelect(ingredient, i, 'stockpile')">
        <strong>{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}
      </li>
    </ul>
    <button class="btn btn-info" (click)="stockpilePrint()">Print Stockpile List</button>
  </mat-tab> -->
  <mat-tab label="Costco ({{costcoIngredients.length}})">
    <div class="container-fluid">
      <ul>
        <ng-container *ngFor="let ingredient of costcoIngredients, let i = index">
          <li>
            <i class="far fa-square"></i><strong (click)="onDistIngredientSelect(ingredient, i, 'costco')">{{ingredient.name}}</strong>
            <ng-container *ngFor="let measurement of ingredient.measurements"> -  {{measurement.quantity}} {{measurement.unit}}</ng-container>
          </li>
        </ng-container>
      </ul>
      <button *ngIf="costcoIngredients.length >= 1" class="btn btn-info" (click)="costcoPrint()">Print Costco List</button>
    </div>
  </mat-tab>
  <mat-tab label="Grocery Store ({{groceryIngredients.length}})">
    <div class="container-fluid">
      <ul>
        <ng-container *ngFor="let ingredient of groceryIngredients, let i = index">
          <li>
            <i class="far fa-square"></i><strong (click)="onDistIngredientSelect(ingredient, i, 'grocery')">{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <button *ngIf="groceryIngredients.length >= 1" class="btn btn-info" (click)="groceryPrint()">Print Grocery List</button>
    </div>
  </mat-tab>
  <mat-tab label="Already Have ({{haveIngredients.length}})">
    <div class="container-fluid">
      <ul>
        <ng-container *ngFor="let ingredient of haveIngredients, let i = index">
          <li>
            <i class="far fa-square"></i><strong (click)="onDistIngredientSelect(ingredient, i, 'have')">{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <button *ngIf="haveIngredients.length >= 1" class="btn btn-info" (click)="havePrint()">Print Already Have List</button>
    </div>
  </mat-tab>
  <mat-tab label="Stockpile ({{stockpileIngredients.length}})">
    <div class="container-fluid">
      <ul>
        <ng-container *ngFor="let ingredient of stockpileIngredients, let i = index">
          <li>
            <i class="far fa-square"></i><strong (click)="onDistIngredientSelect(ingredient, i, 'stockpile')">{{ingredient.name}}</strong> - {{ingredient.quantity}} {{ingredient.measurement | unitDisplay}}</li>
        </ng-container>
      </ul>
      <button *ngIf="stockpileIngredients.length >= 1" class="btn btn-info" (click)="stockpilePrint()">Print Stockpile List</button>
    </div>
  </mat-tab>
</mat-tab-group>

