<div class="container recipe-add-form">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="recipeAddForm">
        <div class="title-div">
          <mat-form-field appearance="fill" id="title-field">
            <mat-label>Enter Recipe Title</mat-label>
            <input matInput
                   formControlName="title"
                   [readonly]="editMode"
            >
          </mat-form-field>
        </div>
        <div class="container-fluid recipe-body">
          <div class="container-fluid ingredients">
            <h3 (click)="toggleIngredients()">Ingredients<span [ngClass]="ingredientsToggleStatus ? 'caret-up' : 'caret-down'"></span></h3>
            <div class="container ingredient-container" [ngClass]="ingredientsToggleStatus ? 'visible' : 'hidden'"  formArrayName="ingredients">
              <div
                class="row content-row"
                *ngFor="let ingredientCtrl of getIngredientsControls(); let i = index"
                [formGroupName]="i"
              >
                <div class="col-sm ingredient-div">
                  <mat-form-field appearance="outline" id="ingredient-field">
                    <mat-label>Ingredient Name</mat-label>
                    <mat-select formControlName="name">
                      <mat-option *ngFor="let ingredientOpt of selectIngredients"
                                  value="{{ingredientOpt.name}}"
                      >{{ingredientOpt.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-sm quantity-div">
                  <mat-form-field appearance="outline" id="quantity-field">
                    <mat-label>Quantity</mat-label>
                    <input matInput
                           formControlName="quantity">
                  </mat-form-field>
                </div>
                <div class="col-sm measurement-div">
                  <mat-form-field appearance="outline" id="measurement-field">
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="measurement">
                      <mat-option value="tsp">Tsp</mat-option>
                      <mat-option value="Tbs">Tbsp</mat-option>
                      <mat-option value="fl-oz">Fluid Oz</mat-option>
                      <mat-option value="cup">Cups</mat-option>
                      <mat-option value="lb">Pounds</mat-option>
                      <mat-option value=" ">Eaches</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                  <button
                    type="button"
                    class="btn btn-danger delete"
                    (click)="onDeleteIngredient(i)">X</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="button"
                    class="btn btn-info add-btn"
                    (click)="onAddIngredient()">Add Ingredient</button>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid directions">
            <div class="content">
              <h3 (click)="toggleDirections()">Directions<span [ngClass]="directionsToggleStatus? 'caret-up' : 'caret-down'"></span></h3>
              <div [ngClass]="directionsToggleStatus ? 'visible' : 'hidden'">
              <p>Meal Preparation Steps</p>
              <div class="col" formArrayName="prepDirections">
                <div
                class="row content-row"
                *ngFor="let directionsCtrl of getPrepDirectionsControls(); let j = index"
                [formGroupName]="j"
              >
                <div class="container-fluid textarea">
                  <div class="row">
                    <div class="col">
                      <mat-form-field appearance="outline" id="p-direction-field">
                        <mat-label>Enter Prep Direction</mat-label>
                        <textarea matInput formControlName="content"></textarea>
                      </mat-form-field>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger delete col-xs-2"
                        (click)="onDeletePrepDirections(j)">X</button>
                    </div>
                  </div>
                </div>
              </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button
                      type="button"
                      class="btn btn-info add-btn"
                      (click)="onAddPrepDirections()">Add Prep Direction</button>
                  </div>
                </div>
              </div>
              <p>Directions on Day of Cooking</p>
              <div class="col" formArrayName="cookDirections">
                <div
                  class="row content-row"
                  *ngFor="let directionsCtrl of getCookDirectionsControls(); let x = index"
                  [formGroupName]="x"
                >
                  <div class="container-fluid textarea">
                    <div class="row">
                      <div class="col">
                       <mat-form-field appearance="outline">
                         <mat-label>Enter Cooking Direction</mat-label>
                         <textarea matInput formControlName="content"></textarea>
                       </mat-form-field>
                      </div>
                    <div>
                    <button
                      type="button"
                      class="btn btn-danger delete col-xs-1"
                      (click)="onDeleteCookDirections(x)">X
                    </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button
                    type="button"
                    class="btn btn-info add-btn"
                    (click)="onAddCookDirections()">Add Cook Direction</button>
                </div>
              </div>
            </div>
              </div>
            </div>
          </div>
          <div class="container-fluid details">
            <h3 (click)="toggleDetails()" class="header">Recipe Details<span [ngClass]="detailsToggleStatus ? 'caret-up' : 'caret-down'"></span></h3>
            <div class="toggle container-fluid" [ngClass]="detailsToggleStatus ? 'visible' : 'hidden'">
              <div class="row rec-details">
                <div class="protein-div col">
                  <mat-form-field appearance="outline" id="protein-field">
                    <mat-label>Protein Base</mat-label>
                    <mat-select formControlName="proteinBase">
                      <mat-option value="Beef">Beef</mat-option>
                      <mat-option value="Chicken">Chicken</mat-option>
                      <mat-option value="Pork">Pork</mat-option>
                      <mat-option value="Turkey">Turkey</mat-option>
                      <mat-option value="Vegetarian">Vegetarian</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="method-div col">
                  <mat-form-field appearance="outline" id="method-field">
                    <mat-label>Cooking Method</mat-label>
                    <mat-select formControlName="cookingMethod">
                      <mat-option value="Baked">Baked</mat-option>
                      <mat-option value="Crock Pot/Instant Pot">Crock Pot/Instant Pot</mat-option>
                      <mat-option value="Grilled">Grilled</mat-option>
                      <mat-option value="Warm & Serve">Warm & Serve</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="credit-div col">
                  <mat-form-field appearance="outline" id="credit-field">
                    <mat-label>Recipe Source</mat-label>
                    <input matInput
                           formControlName="credit"
                    >
                  </mat-form-field>
                </div>
                <div class="price-div col">
                  <mat-form-field appearance="outline" id="price-field">
                    <mat-label>Est. $</mat-label>
                    <input matInput
                           formControlName="cost"
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row notes">
                <div class="col chefNotes-div">
                  <mat-form-field appearance="outline" id="chefNotes-field">
                    <mat-label>Notes to the chef</mat-label>
                    <textarea matInput formControlName="chefNotes"></textarea>
                  </mat-form-field>
                </div>
                <div class="col freezerLabel-div">
                  <mat-form-field appearance="outline" id="freezerLabel-field">
                    <mat-label>Freezer Label</mat-label>
                    <textarea matInput formControlName="freezerLabel"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row accommodation">
                <div class="container-fluid accommodation-container" formArrayName="accommodations">
                  <div
                    class="row content-row"
                    *ngFor="let accommodationControl of getAccommodationsControls(); let e = index"
                    [formGroupName]="e"
                  >
                    <div class="col type-div">
                      <mat-form-field appearance="outline" id="type-field">
                        <mat-label>Type of Accommodation</mat-label>
                        <mat-select formControlName="type">
                          <mat-option value="Paleo">Easily Paleo</mat-option>
                          <mat-option value="Dairy">Dairy Free</mat-option>
                          <mat-option value="Gluten">Gluten Free</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col comments-div">
                      <mat-form-field appearance="outline" id="comments-field">
                        <mat-label>Comments</mat-label>
                        <textarea matInput formControlName="comment"></textarea>
                      </mat-form-field>
                    </div>
                    <div>
                      <button
                        type="button"
                        class="btn btn-danger delete"
                        (click)="onDeleteAccommodation(e)">X</button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button
                        type="button"
                        class="btn btn-info accommodations-btn"
                        (click)="onAddAccommodation()">Add Accommodation</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button
            class="btn btn-success"
            type="button"
            (click)="onSubmit()"
            [disabled]="!recipeAddForm.valid"
          >{{editMode ? 'Save' : 'Submit'}}</button>
          <button
            class="btn btn-danger opt-btn"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete Recipe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
