<div class="container recipe-add-form">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="recipeAddForm">
        <div class="title-div">
          <mat-form-field appearance="fill" id="title-field">
            <mat-label>Enter Recipe Title</mat-label>
            <input matInput
                   formControlName="title"
                   [readonly]="editMode"
            >
          </mat-form-field>
        </div>
        <hr>
        <div class="container ingredient-container" formArrayName="ingredients">
          <div
            class="row content-row"
            *ngFor="let ingredientCtrl of getIngredientsControls(); let i = index"
            [formGroupName]="i"
            >
            <div class="col-sm ingredient-div">
              <mat-form-field appearance="fill" id="ingredient-field">
                <mat-label>Ingredient Name</mat-label>
                <input matInput

                       formControlName="name">
              </mat-form-field>
            </div>
            <div class="col-sm quantity-div">
              <mat-form-field appearance="fill" id="quantity-field">
                <mat-label>Quantity</mat-label>
                <input matInput
                       formControlName="quantity">
              </mat-form-field>
            </div>
            <div class="col-sm measurement-div">
              <mat-form-field appearance="fill" id="measurement-field">
                <mat-label>Unit</mat-label>
                <mat-select formControlName="measurement">
                  <mat-option value="tsp">Tsp</mat-option>
                  <mat-option value="tbsp">Tbsp</mat-option>
                  <mat-option value="oz">Oz</mat-option>
                  <mat-option value="cups">Cups</mat-option>
                  <mat-option value="pounds">Pounds</mat-option>
                  <mat-option value="eaches">Eaches</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-danger delete"
                (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success add-btn"
                (click)="onAddIngredient()">Add Ingredient</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="col" formArrayName="directions">
          <div
            class="row content-row"
            *ngFor="let directionsCtrl of getDirectionsControls(); let j = index"
            [formGroupName]="j"
            >
            <div class="col-sm stepNum-div">
              <mat-form-field appearance="fill" id="stepNum-field">
                <mat-label>Step</mat-label>
                <input matInput
                       formControlName="stepNum">
              </mat-form-field>
            </div>
            <div class="col-sm direction-div">
              <mat-form-field appearance="fill" id="direction-field">
                <mat-label>Enter Direction</mat-label>
                <textarea matInput formControlName="content"></textarea>
              </mat-form-field>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-danger delete"
                (click)="onDeleteDirections(j)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                type="button"
                class="btn btn-success add-btn"
                (click)="onAddDirections()">Add Direction</button>
            </div>
          </div>
        </div>
        <hr>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onSubmit()"
            [disabled]="!recipeAddForm.valid"
          >{{editMode ? 'Save' : 'Submit'}}</button>
          <button
            class="btn btn-danger opt-btn"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete Recipe
          </button>
      </form>
    </div>
  </div>
</div>
