<div class="accommodations-key container-fluid">
  <div class=" row">
    <div class="col d-flex justify-content-center">
      <div class="row">
        <span class="key-logo">
          <span class="key-logo-text">P</span>
        </span>
        <span>= Paleo</span>
      </div>
    </div>
    <div class="col d-flex justify-content-start">
      <div class="row">
        <span class="key-logo">
          <span class="key-logo-text">D</span>
        </span>
        <span>= Dairy Free</span>
      </div>
    </div>
    <div class="col d-flex justify-content-start">
      <div class="row">
        <span class="key-logo">
          <span class="key-logo-text">G</span>
        </span>
        <span>= Gluten Free</span>
      </div>
    </div>
    <div class="col d-flex justify-content-start">
      <div class="row">
        <span class="key-logo">
          <span class="key-logo-text">V</span>
        </span>
        <span>= Vegetarian</span>
      </div>
    </div>
  </div>
</div>

