.key-logo {
  height: 15px;
  width: 15px;
  border-radius: 20px; /* or 50% */
  background-color: #8ebf77;
  color: white;
  text-align: center;
}

.key-logo-text {
  margin: auto;
}

.accommodations-key {
  font-size: 11px;
  margin-bottom: 15px;
}
